body {
    background-color: rgb(255, 255, 255);
    font: 13pt Arial;
    color: black;
}

div { /* Todas as divs vão seguir o mesmo padrão de configurações */
    width: 400px;
    height: 400px;
    background-color: lightgray;
    border: 1px solid black;
}

/* a partir daqui, faço a configuração específica de cada uma das divs, carregando uma imagem para cada um e usando um modo de repetição diferente para cada */
div#area001 {
    background-image: url('pattern001.png');
    background-repeat: no-repeat;
    background-position: top left;
}

div#area002 {
    background-image: url('pattern002.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

div#area003 {
    background-image: url('pattern003.png');
    background-repeat: no-repeat;
    background-position: center top;
}

div#area004 {
    background-image: url('pattern004.png');
    background-repeat: no-repeat;
    background-position: center center;
}