body {
    background-color: rgb(255, 255, 255);
    background-image: url('papel-parede.jpg'); /* CUIDADO ao usar a função url(). Não pode usar letras maiúsculas na chamada, nem deixar espaço entre a letra l e os parênteses.*/
    font: 20pt Arial;
    color: black;
}