body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(125, 0, 0);
    font: 15pt Arial;
}

header {
    text-align: center;
}

main {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 800px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.454);
}

article {
    display: block;
}

article > h2 {
    color: rgb(125, 0, 0);
}

article > p {
    text-align: justify;
}

article > img {
    display: block;
    float: right;
    margin: 10px;
    width: 150px;
}

footer {
    text-align: center;
    color: white;
}